[/]
alphabetize-all-programs=true
application-shortcuts-list=[['Settings', 'preferences-system-symbolic', 'gnome-control-center.desktop'], ['Tweaks', 'org.gnome.tweaks-symbolic', 'org.gnome.tweaks.desktop'], ['Terminal', 'utilities-terminal-symbolic', 'org.gnome.Terminal.desktop'], ['Activities Overview', 'view-fullscreen-symbolic', 'ArcMenu_ActivitiesOverview']]
arc-menu-icon=56
arc-menu-placement='DTP'
available-placement=[false, true, false]
avatar-style='Circular'
border-color='rgb(41,50,55)'
button-padding=6
custom-menu-button-icon-size=30.0
default-menu-view='Frequent_Apps'
disable-category-arrows=false
disable-scrollview-fade-effect=false
disable-searchbox-border=false
disable-user-avatar=false
distro-icon=6
enable-custom-arc-menu=false
enable-horizontal-flip=false
enable-menu-button-arrow=false
gap-adjustment=0
highlight-color='rgb(41,50,55)'
highlight-foreground-color='rgba(255,255,255,1)'
hot-corners='Default'
indicator-color='rgb(41, 165, 249)'
indicator-text-color='rgba(196, 196, 196, 0.3)'
menu-arrow-size=12
menu-border-size=1
menu-button-color='rgb(98,160,234)'
menu-button-disable-rounded-corners=true
menu-button-hover-color='rgb(214,214,214)'
menu-button-icon='Distro_Icon'
menu-color='rgb(25,31,34)'
menu-corner-radius=5
menu-font-size=9
menu-foreground-color='rgb(189,230,251)'
menu-hotkey='Super_L'
menu-layout='Default'
menu-margin=24
mint-pinned-app-list=['Firefox', 'firefox', 'firefox.desktop', 'Terminal', 'utilities-terminal', 'org.gnome.Terminal.desktop', 'Settings', 'emblem-system-symbolic', 'gnome-control-center.desktop', 'Software', 'system-software-install-symbolic', 'org.gnome.Software.desktop', 'Files', 'system-file-manager', 'org.gnome.Nautilus.desktop', 'Log Out', 'application-exit-symbolic', 'ArcMenu_LogOut', 'Lock', 'changes-prevent-symbolic', 'ArcMenu_Lock', 'Power Off', 'system-shutdown-symbolic', 'ArcMenu_PowerOff']
multi-lined-labels=true
multi-monitor=true
override-hot-corners=false
override-menu-button-active-color=false
override-menu-button-color=true
override-menu-button-hover-color=true
pinned-app-list=['Firefox', '', 'firefox.desktop', 'Terminal', '', 'org.gnome.Terminal.desktop']
position-in-panel='Left'
prefs-visible-page=0
recently-installed-apps=['org.gnome.Polari.desktop', 'electron.desktop', 'cmake-gui.desktop', 'assistant.desktop', 'brasero.desktop', 'audacity.desktop', 'com.obsproject.Studio.desktop', 'jshell-java-openjdk.desktop', 'jconsole-java-openjdk.desktop', 'winetricks.desktop']
remove-menu-arrow=true
separator-color='rgb(41,50,55)'
show-activities-button=false
show-external-devices=true
show-search-result-details=false
unity-pinned-app-list=['Home', 'ArcMenu_Home', 'ArcMenu_Home', 'Documents', 'ArcMenu_Documents', 'ArcMenu_Documents', 'Downloads', 'ArcMenu_Downloads', 'ArcMenu_Downloads', 'Software', 'system-software-install-symbolic', 'org.gnome.Software.desktop', 'Files', 'system-file-manager', 'org.gnome.Nautilus.desktop', 'Log Out', 'application-exit-symbolic', 'ArcMenu_LogOut', 'Lock', 'changes-prevent-symbolic', 'ArcMenu_Lock', 'Power Off', 'system-shutdown-symbolic', 'ArcMenu_PowerOff']
vert-separator=true
